################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/graph_console/graph_v1/.vs
/graph_console/graph_v1/graph_v1/bin/Debug/netcoreapp2.1
/graph_console/graph_v1/graph_v1/obj
