################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/graph_console/graph_v1/.vs
